<html>
<h2 class="title">About</h2>
    <header>
      
    </header>

    <!--<div class="about">
      <img src="me.jpg" class="me" />
  </div>  -->

  <div class="hero">
        <h5 class="about">Rebecca Douglass is a creative and detailed oriented Full Stack Web Developer
          with a focus on UX design. Highly personable with excellent client
          and relationship building skills. Proven knack for analytical problem solving from
          her background in medicine and business. Known among colleagues for a strong work ethic that
          keeps her dedicated until the very end. Regularly complimented on verbal
          and written communication abilities.</h5>
          
      </div>

      <div class="place">
        <button type="button" class="button1"> <a href="#" class="white"> Text Goes Here</a> </button>
        <button type="button" class="button1"> <a href="#" class="white"> Another Link Here</a> </button>
      </div>

      <p>
    <a href=https://github.com/beccadouglass>https://github.com/beccadouglass </a>
    <a href="https://www.linkedin.com/in/rebecca-douglass-054402196/">https://www.linkedin.com/in/rebecca-douglass-054402196/</a>
  </p>

      <body>
<h3 id="skills-and-tools">Skills &amp; Tools</h3>
                  <hr class="yellow" />
                  <p class="skills-and-tools">
                    Rebecca has developed proficiency and expertise
                    in the following programming languages and
                    comfort with the following tools.
                  </p>
                  <div class="icons">
                    <img src="github.png" class="icon" />
                    <img src="rubocop.png" class="icon" />
                    <img src="trello.png" class="icon" />
                    <img src="slack.png" class="icon" />
                    <img src="codeship.png" class="icon" />

                    <br class="clear" />
                    <img src="skills.png" />
                  </div>
                  <div class="contact-me" id="hire-me">
                    <h3 class="contact-headline">Contact</h3>
                    <hr class="yellow" />
                    <p class="contact-info">
                      Currently entertaining new opportunities.
                      Please get in touch via email:
                    </p>
                    <p>
                      <a href="mailto:rebecca.s.douglass@gmail.com" class="contact-link">
                        rebecca.s.douglass@gmail.com
                      </a>

                    </p>


                  </div>

</body>

</html>

