
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web Design by Rebecca Douglass</title>
  </head>
  <h2 class="title">Design Projects</h2>

<body>
  <div class="containergrid">
    <section class="designs">
        <div class="design">
            <%= image_tag 'findurfidopic.png', :class => "design__img" %>
            <h5 class="design__name">Find Your Fido</h5>
            <%# <div class="design__pics">
                <div class="design__sprite"> %>
                  <%# <a href="#"> %>
                  <%# <a><i class="fas fa-images fa-2x btn3" data-toggle="modal" data-target="#picModal1"></i>
                  </a>
                </div>
                  <p class="fas_label">Pics</p> %>
            <%# </div>     %>
            <div class="design__video">
                <div class="design__sprite">
                <a href="https://youtu.be/b61M3dB1W8E" target="blank"><i class="fas fa-video fa-2x btn3" data-toggle="modal" data-target="#videoModal1"></i></a>
                </div>
                <p class="fas_label">Video</p>
            </div>
            
            <button class="design__bottom">SASS, Flexbox, Node</button>
        </div>
        <div class="design">
            <%= image_tag 'rfs-screen2.png', :class => "design__img" %>
            <h5 class="design__name">Reflections From The Saddle</h5>
            <%# <div class="design__pics">
                <div class="design__sprite">
                <a> <i class="fas fa-images fa-2x btn3" data-toggle="modal" data-target="#picModal2"></i></a>
                </div>
                <p class="fas_label">Pics</p>
            </div> %>

            <div class="design__video">
                <div class="design__sprite">
                <a href="https://youtu.be/0paJ6AjwBrk" target="blank"><i class="fas fa-video fa-2x btn3" data-toggle="modal" data-target="#videoModal2"></i></a>
                </div>
                <p class="fas_label">Video</p>
            </div>
                        
            <button class="design__bottom">Advanced CSS, SASS</button>
        </div>

        <div class="design">
            <%= image_tag 'at_screen_shot.png', :class => "design__img" %>
            <h5 class="design__name">Acupoint Therapies</h5>
            <%# <div class="design__pics">
                <div class="design__sprite">
                <a> <i class="fas fa-images fa-2x btn3" data-toggle="modal" data-target="#picModal2"></i></a>
                </div>
                <p class="fas_label">Pics</p>
            </div> %>
            <div class="design__web">
                <div class="design__sprite">
                <a href="https://acupointtherapies.com" target="blank"><i class="fas fa-globe fa-2x btn3"></i></a>
                </div>
                <p class="fas_label">Website</p>
            </div>
            <div class="design__video">
                <div class="design__sprite">
                <a href="https://youtu.be/RrXmR1t4uwQ" target="blank"><i class="fas fa-video fa-2x btn3" data-toggle="modal" data-target="#videoModal2"></i></a>
                </div>
                <p class="fas_label">Video</p>
            </div>
                        
            <button class="design__bottom">Wordpress</button>
        </div>
    </section>
  </div>



<%# ------Modal--------- %>
      <div class="modal fade" id="picModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <%# <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> %>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Picture
                    </div>
                  </div>
                </div>
          </div>

      <%# ------Modal--------- %>
      <div class="modal fade" id="picModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <%# <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> %>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Picture scroll
                </div>
              </div>
            </div>
      </div>

</body>


