@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Courgette|Muli|Poppins&display=swap");



/*__________Variables-----*/

:root {
  --color-bright: rgb(250, 150, 62);
  --color-primary: #eea4d3;
  --color-primary-light: #fce0f1;
  --color-primary-dark: rgb(208, 97, 167);
  --color-secondary-light: #98b7fa;
  --color-secondary-dark: #2b498a;
  --color-primary-dark-muted: #634356;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #555555;
  --color-grey-dark-3: #999;
  --color-grey-dark-4: #6d6c6c;
  --color-black: #000;

  --shadow-dark: 0 2rem 6rem #333;
  --shadow-dark-2: .2rem .5rem 1rem .1rem rgb(44, 43, 43);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .1);

  --line: 1px solid var(--color-grey-light-2);
}

/*------Responsive Breakpoints------*/
$bp-largest: 75em; //1200pixels
$bp-large: 68.75em; //1100px
$bp-medium: 62.5em; //1000px
$bp-small: 37.5em; //600px
$bp-xsmall: 31.25em; //500px 



/*----------Main---------*/
h4 {
  margin: 1rem, 2rem, 3rem;
}

h1,
h2,
h3,
h5,
h6,
.navbar {
  margin: 0;
}

h2 {
  color: rgb(255, 255, 255);
  padding: 1.25rem;
  text-align: center;
  margin-top: 2.8rem;
}

body {
  // background: image_url("grunge_wall1.png");

  background-image: linear-gradient(to right bottom,
      var(--color-black) 30%,
      var(--color-primary-light));


  font-family: "Poppins";
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  color: #555555;
  font-weight: 300;
  font-size: 1.25rem;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

hr {
  color: #555555;
  border-style: inset;
  border-width: 2px;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.containergrid {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; //140px = 14rem
}

.container {
  padding: 0;
}

.noshadow {
  box-shadow: none;
}

.shadow {
  box-shadow: var(--shadow-dark-2);
}


// #flex-content-container {
//   flex: 1;
// }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  margin: 0 auto;
  max-width: 71.25rem;
}

.title {
  margin-bottom: 1.85rem;
}


/*----------Navbar---------*/
.navbar {
  background: image_url("concrete_seamless.png");
  /*background-color: #222222;*/
  box-shadow: 0px 1px 2px #6d6c6c;
  color: #222222;
  padding-right: 2.5rem;
  text-align: right;
}

.navbar-brand {
  color: #222222;
  font-family: "Courgette";
  margin-right: 2.5rem;
}

/*----------Links---------*/

a,
a:link,
a:visited {
  color: #050000;
  //color: rgb(219, 217, 217);
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  text-decoration: none;
}

a,
a:hover,
a:active {
  color: var(--color-primary-dark-muted);
  cursor: pointer;
  transition: all .2s ease;
}

.project-link {
  text-align: center;
  margin-top: 1.25rem;
  bottom: 0;
}

.link-size {
  font-size: 0.75rem;
  text-align: left;
}

.contact-link {
  color: rgb(94, 93, 93);
}

/*---------buttons------------*/
.btn-light,
.btn-outline-dark {
  box-shadow: 1px 5px 5px #dad8d8;
  margin: 1.25rem 1.25rem;
  padding: 0;
  background-color: var(--color-grey-dark-3);
}

// button:hover,
// button:active {
//   //box-shadow: 0px 5px 12px 0px pink;
// }

// .btn2 {
//   background-color: var(--color-primary);
//   color: #fff;
//   border: none;
//   border-radius: 0;
//   //font-family: $font-display;
//   font-size: 1.5rem;
//   text-transform: uppercase;
//   padding: 1.8rem 3rem;
//   cursor: pointer;
//   transition: all .2s;

//   &:hover {
//     background-color: var(--color-primary-dark);
//   }
// }

.btn3 {

  &:link,
  &:visited {
    transition: all .2s ease;
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#000, .2);
    color: var(--color-primary-dark-muted);

    &::after {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(#000, .3);
    color: var(--color-primary-dark-muted);
  }

  &::after {}

  &--animated {
    animation: moveInBottom .5s ease-in .75s;
    animation-fill-mode: backwards;

  }
}

.btn-text {

  &:link,
  &:visited {
    color: var(--color-primary);
    display: inline-block; //so can add block properties to it
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary);
    padding: 3px;
    transition: all .2s;
  }

  &:hover {
    background-color: var(--color-primary);
    color: #f4f2f2;
    box-shadow: var(--shadow-dark);
    transform: translateY(-2px); //moves button up

  }

  &:active {
    box-shadow: var(--shadow-dark);
    transform: translateY(0); //moves button back up
  }
}

/*---------header------------*/
header {
  height: 100vh;
}

.hero {
  background: image_url("rebeccabw.jpg") no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  box-shadow: 0px 3px 8px #a0a0a0;
  height: 23rem;
}

.box {
  float: left;
  margin-left: 5%;
  margin-top: 1.25rem;
  padding-top: 4.3rem;
  width: 42.5%;
}

.box1 {
  padding-top: 10.6rem;
}

.coding-example {
  color: rgb(112, 111, 111);
  padding-left: 20rem;
}

/*---------Cards----------*/
.card-body {
  position: relative;
}

.card-img-top {
  box-shadow: 0px 0px 5px 0px #616161;
  height: 15.6rem;
  opacity: 1;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(50%);
  filter: rgb(32, 32, 32);
  /* IE 6-9 */
  max-width: 100%;
}

.card-img-top:hover {
  opacity: 1;
  transition: 0.3s ease;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

.card {
  box-shadow: var(--shadow-dark);
  margin: 1.25rem 0;
  max-width: 20rem;
}

.card-deck {
  margin: 2.5rem;
}

.card-title {
  padding-top: 5px;
  text-align: center;
}

.card-text {
  margin-top: 0.63rem;
  margin-bottom: 1.25rem;
}

.card-footer {
  text-align: center;
}

//.project-link {
// bottom: 2px;
//position: absolute;
//}

/*----------About Pics------------*/
.white {
  background-color: #fff;
  margin: 0px;
}

.about {
  background-color: #fff;
  color: #222222;
  font-family: "Courgette";
  margin: 0px;
  padding-top: 1.25rem;
  text-align: center;
}

.frosty {
  background: #fff;
  color: #222222;
  font-family: "Muli";
  padding: 1.5rem 2.5rem;
  text-align: right;
}

.skills {
  background: #fff;
  color: #222222;
  font-family: "Poppins";
  font-size: 0.8rem;
  padding: 1rem 2rem;
  text-align: left;
}

.first-pic {
  height: auto;
  width: 100%;
  max-width: 25rem;
}

.image-div {
  text-align: right;
}

.no-gutter {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
}

.row {

  &:before,
  &:after {
    display: inline-block !important;
  }
}

// .row.no-gutter {
//   margin-left: 0;
//   margin-right: 0;
// }

// .row.no-gutter [class*="col-"]:not(:first-child),
// .row.no-gutter [class*="col-"]:not(:last-child) {
//   padding-right: 0;
//   padding-left: 0;
// }

.social {
  background-color: #fff;
  display: inline;
  //display: inline-block;
  font-size: 0.8rem;
  margin-left: 25%;
  //margin-bottom: 3px !important;
  text-align: center;
  width: 31.9%;
}

.small {
  display: block;
}

.small-foot {
  font-size: 0.6rem;
  color: rgb(112, 111, 111);
  text-align: center;
}


/*--------Design-----------*/

.designs {
  //background-color: $color-primary;
  // grid-row: 1 / -1;
  grid-column: center-start / center-end;

  margin: 0 0 5rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  //grid-template-rows: auto auto; implicitly implied
  grid-gap: 7rem;

}

.design {
  background-color: var(--color-grey-light-1);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1rem;
  box-shadow: var(--shadow-dark-2);


  &__img {
    width: 100%;
    height: 25rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
  }

  &__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 3;
    align-self: end;
    width: 80%;
    justify-self: center;
    //font-family: $font-display;
    font-size: 1rem;
    text-align: center;
    padding: 1.25rem;
    background-color: var(--color-grey-dark-1);
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);

  }

  // &__sprite {
  //   fill: var(--color-primary);
  //   height: 3rem;
  //   width: 3rem;
  //   transition: all .2s;
  //   cursor: pointer;

  //   &:hover {
  //     fill: var(--color-grey-light-2);
  //     animation: pulsate 1s infinite;

  //   }
  // }

  &__pics,
  &__video {
    margin-top: 2.5rem;
  }

  &__git {
    margin-top: 2.5rem;
  }

  &__video,
  &__pics,
  &__web,
  &__git {
    font-size: .7rem;
    margin-left: 40%;
    // justify-self: center;
    display: flex;
    align-content: center;
  }

  &__bottom {
    grid-column: 1 / -1;
    padding: .5rem;
    font-size: .85rem;
    background-color: var(--color-grey-light-3);
  }

}

.fas_label {
  margin-top: .5rem;
}

/*--------Modals-----------*/
.modal-video {
  width: 100%;
  height: 100%;
}

.modal-body {
  height: 500px;
}

/*--------Media Queries-----------*/

@media screen and (max-width: 991px) {
  .navbar {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  html {
    font-size: 1.5rem;
  }

  .card {
    margin-bottom: 1rem;
  }

  .frosty {
    text-align: center;
    padding: 0.5rem 0.5rem;
  }

  .contact-link {
    text-align: center;
    font-size: 1rem;
  }

  .image-div {
    margin: 0 auto;
  }

  .designs {
    grid-column: full-start / full-end;
    margin: 40px;
  }

}

@media screen and (max-width: 600px) {
  .designs {

    &__bottom {
      font-size: 1.2rem;
    }
  }
}