@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Courgette|Muli|Poppins&display=swap");

/*----------Main---------*/
h4 {
  margin: 1rem, 2rem, 3rem;
}

h1,
h2,
h3,
h5,
h6,
.navbar {
  margin: 0;
}

h2 {
  color: rgb(255, 255, 255);
  padding: 1.25rem;
  text-align: center;
  margin-top: 2.8rem;
}

body {
  background: image_url("grunge_wall1.png");
  font-family: "Poppins";
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  color: #555555;
  font-weight: 300;
  font-size: 1.25rem;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
}

hr {
  color: #555555;
  border-style: inset;
  border-width: 2px;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

#flex-content-container {
  flex: 1;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  margin: 0 auto;
  max-width: 71.25rem;
}

.title {
  margin-bottom: 1.85rem;
}

/*----------Navbar---------*/
.navbar {
  background: image_url("concrete_seamless.png");
  /*background-color: #222222;*/
  box-shadow: 0px 1px 2px #6d6c6c;
  color: #222222;
  padding-right: 2.5rem;
  text-align: right;
}

.navbar-brand {
  color: #222222;
  font-family: "Courgette";
  margin-right: 2.5rem;
}

/*----------Links---------*/
a:link,
a:visited {
  color: #050000;
  //color: rgb(219, 217, 217);
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  text-decoration: none;
}

a:hover,
a:active {
  color: rgb(208, 97, 167);
  /*color: rgb(175, 176, 177);*/
}

.project-link {
  text-align: center;
  margin-top: 1.25rem;
  bottom: 0;
}

.link-size {
  font-size: 0.75rem;
  text-align: left;
}

.contact-link {
  color: rgb(94, 93, 93);
}

/*---------buttons------------*/
.btn-light,
.btn-outline-dark {
  box-shadow: 1px 5px 5px #dad8d8;
  margin: 1.25rem 0.65rem;
  padding: 0;
}

button:hover,
button:active {
  //box-shadow: 0px 5px 12px 0px pink;
}

/*---------header------------*/
header {
  height: 100vh;
}

.hero {
  background: image_url("rebeccabw.jpg") no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  box-shadow: 0px 3px 8px #a0a0a0;
  height: 23rem;
}

.box {
  float: left;
  margin-left: 5%;
  margin-top: 1.25rem;
  padding-top: 4.3rem;
  width: 42.5%;
}

.box1 {
  padding-top: 10.6rem;
}

.coding-example {
  color: rgb(112, 111, 111);
  padding-left: 20rem;
}

/*---------Cards----------*/
.card-body {
  position: relative;
}

.card-img-top {
  box-shadow: 0px 0px 5px 0px #616161;
  height: 15.6rem;
  opacity: 1;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(50%);
  filter: rgb(32, 32, 32);
  /* IE 6-9 */
  max-width: 100%;
}

.card-img-top:hover {
  opacity: 1;
  transition: 0.3s ease;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

.card {
  box-shadow: 2px 3px 1px 0px #d6d6d6;
  margin: 1.25rem 0;
  max-width: 20rem;
}

.card-deck {
  margin: 2.5rem;
}

.card-title {
  padding-top: 5px;
  text-align: center;
}

.card-text {
  margin-top: 0.63rem;
  margin-bottom: 1.25rem;
}

.card-footer {
  text-align: center;
}

//.project-link {
// bottom: 2px;
//position: absolute;
//}

/*----------About Pics------------*/
.white {
  background-color: #fff;
  margin: 0px;
}

.about {
  background-color: #fff;
  color: #222222;
  font-family: "Courgette";
  margin: 0px;
  padding-top: 1.25rem;
  text-align: center;
}

.frosty {
  background: #fff;
  color: #222222;
  font-family: "Muli";
  padding: 2.5rem 4.7rem;
  text-align: right;
}

.skills {
  background: #fff;
  color: #222222;
  font-family: "Poppins";
  font-size: 0.8rem;
  padding: 2.5rem 4.7rem;
  text-align: left;
}

.first-pic {
  height: auto;
  width: 100%;
  max-width: 25rem;
}

.no-gutter {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*="col-"]:not(:first-child),
.row.no-gutter [class*="col-"]:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.social {
  background-color: #fff;
  display: inline;
  //display: inline-block;
  font-size: 0.8rem;
  margin-left: 25%;
  //margin-bottom: 3px !important;
  text-align: center;
  width: 31.9%;
}

.small {
  display: block;
}

@media screen and (max-width: 1028px) {
  .navbar {
    font-size: 2rem;
  }
  html {
    font-size: 2rem;
  }

  .card {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
